button {
  border-radius: 20px;
  padding: 20px;
  margin: 5px;
}

.red{
  background-color: FireBrick;
}

.orange{
  background-color: orange;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}

.blue{
  background-color: DeepSkyBlue;
}

.purple{
  background-color: RebeccaPurple;
}

.grey{
  background-color: grey;
}

.white{
  background-color:white;
}

.black{
  background-color:black;
}

.redText{
  color: FireBrick;
}

.orangeText{
  color: Orange;
}

.yellowText{
  color: yellow;
}

.greenText{
  color: green;
}

.blueText{
  color: DeepSkyBlue;
}

.purpleText{
  color: RebeccaPurple;
}

.greyText{
  color: grey;
}

.whiteText{
  color:white;
}

.blackText{
  color:black;
}
